<head>
  <title>shoutbox</title>
</head>

<body>
  <h1>Shout it!</h1>
  
  <form class="shoutform">
    <input type="text" name="name" placeholder="name"/>
    <input type="text" name="text" placeholder="what do you have to say?"/>
    <button type="submit">Submit</button>
  </form>
  
  {{#each shouts}}
    {{> shout}}
  {{/each}}
  
  <button class="delete">Delete all</button>
</body>

<template name="shout">
  <h2>{{name}}</h2>
  <p>{{text}}</p>
</template>
